<p>
  <b>Name:</b>
  <%=h @project.name %>
  <% @project.iterations.each do |iteration| %>
    <p class="iteration_number">Iteration <%= iteration.number %></p>
  <% end %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
