<style type="text/css"> 
	body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}
	.demoHeaders { margin-top: 2em; }
	#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
	#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
	ul#icons {margin: 0; padding: 0;}
	ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
	ul#icons span.ui-icon {float: left; margin: 0 4px;}

	.input_box {
		font-family: helvetica,arial,freesans,sans-serif;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		font-size: 150%;
		padding-top: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
		border-top-width: 1px;

		border-right-width-value: 1px;

		border-right-width-ltr-source: physical;

		border-right-width-rtl-source: physical;

		border-bottom-width: 1px;

		border-left-width-value: 1px;

		border-left-width-ltr-source: physical;

		border-left-width-rtl-source: physical;

		border-top-style: solid;

		border-right-style-value: solid;

		border-right-style-ltr-source: physical;

		border-right-style-rtl-source: physical;

		border-bottom-style: solid;

		border-left-style-value: solid;

		border-left-style-ltr-source: physical;

		border-left-style-rtl-source: physical;

		border-top-color: #888888;

		border-right-color-value: #888888;

		border-right-color-ltr-source: physical;

		border-right-color-rtl-source: physical;

		border-bottom-color: #888888;

		border-left-color-value: #888888;

		border-left-color-ltr-source: physical;

		border-left-color-rtl-source: physical;

	}
</style>

<script type="text/javascript">
	$.ui.dialog.defaults.bgiframe = true;
	$(function() {
		$("#dialog").dialog({ modal: true });
		$("#available_formats").dialog({
			autoOpen: false,
			width: 600,
			buttons: {
				"Ok": function() { 
					$(this).dialog("close"); 
				}
			}
		});
		$('#dialog_link').click(function(){
			$('#available_formats').dialog('open');
			return false;
		});
	});
</script>

<div id="available_formats" title="Formati disponibili">
	<%= Parser::AVAILABLE_FORMATS.join("<br/>") %>
</div>

<%if @updated_element != nil %>
	<div id="dialog" title="Aggiornamento" style="text-align:center;">
		<p><%= @updated_element.info %></p>
	</div>
<% end %>

<div style="text-align:center; margin: 15em;">
	<% form_tag '/stories/parse' do %>
		<%= text_field_tag "phrase", {}, {:size => 40, :class => "input_box" } %>
		<%= submit_tag "Dica!", {:class => "ui-state-default ui-corner-all"} %>
	<% end %>
	<div>
		<p>	<a href="#" id="dialog_link" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>Visualizza formati disponibili</a></p> 
	</div>
</div>
