<style type="text/css"> 
</style>

<script type="text/javascript">
	$.ui.dialog.defaults.bgiframe = true;
	$(function() {
		$("#dialog").dialog({ modal: true });
		$("#available_formats").dialog({
			autoOpen: false,
			width: 600,
			buttons: {
				"Ok": function() { 
					$(this).dialog("close"); 
				}
			}
		});
		$('#dialog_link').click(function(){
			$('#available_formats').dialog('open');
			return false;
		});
	});
</script>

<div id="available_formats" title="Formati disponibili">
	<%= Parser::AVAILABLE_FORMATS.join("<br/>") %>
</div>

<%if @updated_element != nil %>
	<div id="dialog" title="Aggiornamento" style="text-align:center;">
		<p><%= @updated_element.info %></p>
	</div>
<% end %>

<div style="text-align:center; margin: 15em;">
	<% form_tag '/stories/parse' do %>
		<%= text_field_tag "phrase", {}, {:size => 40, :class => "input_box" } %>
		<%= submit_tag "Dica!", {:class => "ui-state-default ui-corner-all"} %>
	<% end %>
	<div>
		<p>	<a href="#" id="dialog_link" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>Visualizza formati disponibili</a></p> 
	</div>
</div>
